.Track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  padding: 10px;
}

.Track:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.Track:first-child {
  margin-top: 15px
}

.trackButtons {
  height: 100%;
  display: flex;
  align-items: center;
}

.likeButton {
  height: 25px;
  width: auto;
  /*pointer-events: auto;*/
  opacity: 1;
}

.playButton {
  height: 20px;
  width: auto;
  margin-right: 10px;
}

.processing {
  /*pointer-events: none;*/
  opacity: 0.3;
}
